li {
  list-style: none;
  list-style-position: inside;
}

//input 숫자 조절 버튼 삭제
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: #e9ecef;
}
.MWR-wrapper {
  width: 512px;
  min-height: 450px;

  position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .MWR-wrapper {
    margin-top: 40px;
    margin-bottom: 150px;
    // transition: margin 0.2s ease-in-out;
  }
}

@media (max-width: 480px) {
  .MWR-wrapper {
    width: 100%;
    margin-top: 0;
    margin-bottom: 150px;
    // transition: margin 0.2s ease-in-out;
  }
}
